<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>MoshTerminal</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Used to connect to servers on your local network.</string>
	<key>MoshTerminalSupportEmail</key>
	<string></string>
	<key>MoshTerminalSupportURL</key>
	<string>https://github.com/Git-on-my-level/ios-mosh-terminal/issues</string>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
